
body{
  font-size: 10px;
  background: #2b2b5f;
  font-weight: 200;
}

.banner, footer{

  background: #6060de;
  padding: 10px;
  color: white;
}
footer{
  padding: 0;
  padding-top: 20px;
}
nav{
  padding: 0 10px;
}
h1, h2, h3, h4{
  font-weight: 200;
}

h1{
  font-size: 2.8rem;
}

h3 {
  font-size: 1.4rem;
}
table, ul {
  font-size: 1.0rem;
}
p, address{
  font-size: 0.9rem;
  font-style: normal;
}
a {
  color: white;
}

.banner{
  position: relative;
  height: 400px;
  background:rgba(96,96,222,0.4);
}

.banner-background{
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background: bottom left url("../img/splash3.jpg");
  background-size: cover;
  filter: blur(0.1px);
  background-attachment: fixed;
}
.project-info__link,.project-info__title, .subsection-title{
  color: #6060de;
  font-weight: 100;
}


.brand-logo{
  margin-left: 10px;
  margin-right: 10px;
}

.content{
  background: white;
}

@media screen and (min-width: 1000px){

  .content{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
  }


}


.row{
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
}
.align-bottom{
  align-self: flex-end;
}

.header-text{
  font-weight: 100;
}


.project-info{
  z-index: 1;
  padding: 50px !important;
  box-shadow: 4px 0 5px rgba(0, 0, 0, 0.4), -4px 0 5px rgba(0, 0, 0, 0.4);
  background: white;
}



.project-thumbnail{

  background-size: cover !important;
  min-height: 200px !important;

}

@media screen and (max-width: 600px){
  .project-thumbnail {
    order: -1;
  }
}

#project1{
  background: center center url('../img/project1.jpg');
}

#project2{
  background: center center url('../img/project2.jpg');

}
#project3{
  background: center center url('../img/project3.jpg');
}

nav, .footer-bottom{
    background: #2b2b5f;
}
.networking-icon{

  width: 60px;
  height: 60px;
}

.summary{

  padding: 30px;
  background: #333333;
  color: white;
}

#details-section, #experience-section{
  background: white;
  padding: 20px;

}
#details-section{
  background: white;
  padding: 10px;
  padding-left: 50px;
  box-shadow: 2px 0 10px;
  z-index: 1;
}


ul.timeline{


}

.timeline-marker-wrapper{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 32px;
  position: relative;
}
.timeline-marker{
  width: 32px;
  height: 32px;
  border: 1px solid #2b2b5f;
  border-radius: 50%;
  position: relative;
  background: rgba(85, 136, 175, 0.4);
}
.timeline-marker:before{
  display: block;
  content: "";
  width: 20px;
  border-radius: 50%;
  height: 20px;
  background: #2b2b5f;
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
}
.timeline-marker-wrapper:after{
  display: block;
  position: absolute;
  content: "";
  width: 1px;
  height: calc(100% - 32px);
  background: #2b2b5f;
  left: calc(50% - 0.5px);
  top: 32px;
}

